<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
  <div class="form-group">
    <label for="exampleInputEmail1" class="h3">Name</label>
    <%= form.text_field :name %>
  </div>

    <div class="form-group">
      <label for="exampleInputEmail1" class="h3">Rule</label>
    <%= form.text_area :rule %>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1" class="h3">Insruction</label>
  <%= form.file_field :insruction %>
  </div>
<br>
<br>

<div class="form-group">
  <label for="exampleInputEmail1" class="h3">La foto de las piezas</label>
<%= form.file_field :avatar %>
</div>
<br>
<br>

<div class="form-group">
  <label for="exampleInputEmail1" class="h3">Las fotos de  partes del tablero</label>
<%= form.label "Las fotos de  partes del tablero "%><%= form.file_field :images, multiple: true %>
</div>
<br>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
