<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>
<p>
<strong>Rule:</strong>
<%= @game.rule %>
</p>

<% if @game.avatar.attached? %>
<p>
<strong>Las foto de las piezas:</strong>
<%= image_tag @game.avatar, style: "-webkit-filter: grayscale(100%) height:150px;width:150px" %>

</p>
<% end %>

<% if @game.images.attached? %>
<p>
<strong> Las fotos de  partes del tablero</strong>
<br>
<% @game.images.each do |image| %>
<%= image_tag image, style: "-webkit-filter: grayscale(100%) height:150px;width:150px" %>

<% end %>
</p>
<% end %>

<p>
<strong>Insruction:</strong>
<br>
<%= @game.insruction %> <br>
<a href="<%= rails_blob_path(@game.insruction, disposition: "attachment") %>" > Descargar PDF</a>

</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
